/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2023, 11:14:45 AM
    Author     : jing wei
*/
     nav {
        background: url('images/navbar/rust_navbar.png') no-repeat center center;
        background-size: cover;
    }
.image-container {
    position: relative;
    display: inline-block;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay-image {
    opacity: 1;
}

.welcome{
    font-size: 4vw;
}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {
    /* Navbar styles */
    .navbar-nav {
      flex-direction: column !important; /* Ensure this takes precedence */
      text-align: center;
    }

    .navbar-nav .nav-item {
      margin-bottom: 10px;
      width: 50%;
    }

    .navbar-toggler {
      display: block;
    }

    /* Content styles */
    .content-container {
      text-align: center;
    }

    .text-container {
      margin: 10px;
      font-size: 40px;
    }

    .image-container img {
      max-width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      .text-container {
        font-size: 30px;
      }
             .description-text{
        font-size:3vw !important;
    }
      
    }

    /* Navbar Dropdown styles */
    .navbar-nav.collapsibleNavbar {
      background: url('images/navbar/rust_navbar.png') no-repeat center center;
      background-size: cover;
      padding: 10px;
      position: absolute;
      top: 60px; /* Adjust as needed based on your design */
      left: 0;
      right: 0;
      z-index: 1000;
      text-align: center;
    }

    .navbar-nav.collapsibleNavbar.show .nav-item {
      margin-bottom: 10px;
    }
    
.content-container {
   text-align: center;
}

.responsive-content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

@media (max-width: 1080px) {
   .responsive-content {
      flex-direction: column;
   }
       .description-text{
        font-size:3vw;
    }
}

.image-container img {
   max-width: 100%;
   height: auto;
}



@media (max-width: 768px) {
    .description-text {
        font-size: 2vw; /* Adjust font size for smaller screens */
        line-height: 0.2; /* Adjust line height for smaller screens */
    }

    .responsive-content {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }
}

@media (max-width: 1080px) {
    /* Reduce the font size of the navigation items */
    .navbar-nav .nav-item {
        width: 100%; /* Adjust the width as needed */
        font-size: 14px; /* Adjust the font size for smaller screens */
    }

    /* Optionally, adjust other styling properties as needed */
    .navbar-nav .nav-link {
        padding: 8px 16px; /* Adjust padding if necessary */
    }
    
    .description-text{
        font-size:3vw;
    }
}
}
.title{
    font-size: 6vw;
}


.subtitle{
    font-size: 4vw;
}

.description-text {
    text-align: left;
    font-size: 2vw; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
    color: #EE5454;
    margin: 0;
}

.censored-text {
    font-size: 100px; /* Set your desired font size */
    color: transparent; /* Make the text transparent */
    text-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Add a shadow to make blurred text visible */
    letter-spacing: 10px; /* Increase letter spacing to make the text appear as blocks */
    filter: blur(3px); /* Apply blur effect to the text */
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: url('images/paper_bg_3.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
/*    background-color: #6371CB;*/
}
@font-face {
    font-family: 'NeonText';
    src: url('fonts//TextMeOne-Regular.ttf') format('truetype'),
        url('fonts/TextMeOne-Regular.woff') format('woff');
    /* Add additional font formats if necessary */
}

@font-face {
    font-family: 'InkText';
    src: url('fonts/DK Downward Fall.ttf') format('truetype');
    /* Add additional font formats if necessary */
}

@font-face {
    font-family: 'ImpactText';
    src: url('fonts/321impact.ttf') format('truetype');
    /* Add additional font formats if necessary */
}

@font-face {
    font-family: 'Stalker1Text';
    src: url('fonts/stalker1.ttf') format('truetype');
    /* Add additional font formats if necessary */
}

@font-face {
    font-family: 'Stalker2Text';
    src: url('fonts/stalker2.ttf') format('truetype');
    /* Add additional font formats if necessary */
}

@font-face {
    font-family: 'Omori1Text';
    src: url('fonts/OMORI_GAME1.ttf') format('truetype');
    /* Add additional font formats if necessary */
}
@font-face {
    font-family: 'Omori2Text';
    src: url('fonts/OMORI_GAME2.ttf') format('truetype');
    /* Add additional font formats if necessary */
}
.NeonText_white {
    font-family: 'NeonText', sans-serif;
     /* Set your desired font size */
    color: #FFFFFF; /* Set your desired text color */
    text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Set the glow effect (adjust the values as needed) */
    -webkit-text-fill-color: transparent; /* Make the text transparent */
    -webkit-text-stroke: 1px #FFFFFF; /* Set the outline width and color */
    text-stroke: 1px #FFFFFF; /* Additional text-stroke property for non-WebKit browsers */
}
.InkText {
    font-family: 'InkText', sans-serif;
    
}
.ImpactText{
    font-family: 'ImpactText', sans-serif;
    color: #DBDBDB !important;
}

.underline-text {
    text-decoration: underline;
}
.Stalker1Text{
    font-family: 'Stalker1Text', sans-serif;

}
.Stalker2Text{
    font-family: 'Stalker2Text', sans-serif;

}

.ImpactText,
.InkText {
    display: inline;
}
.glow-text {

}
.NeonSign {
    font-size: 36px; /* Set your desired font size */

}
.bright {
    filter: brightness(130%); /* Increase brightness by 50% */
}
.content-container {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    text-align: center;
}

.text-container {
    margin-right: 20px; /* Adjust the spacing between text and image */
}

.image-container img {
    display: block;
}
.footer{
 font-size:20px;
}

@media (max-width: 1080px) {
    /* Adjust padding and margins here */
    .footer {
        font-size: 40px;
        padding: 20px;
    }
}
